# --- Frontend Ignored ---
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.DS_Store

# --- Backend Ignored ---
Backend/target/
Backend/.mvn/wrapper/
Backend/.classpath
Backend/.project
Backend/.settings/
Backend/help.md
Backend/*.log