@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}

@keyframes floatUp {
    0% {
        transform: translateY(110vh) rotate(0deg) scale(0.8);
        opacity: 0;
    }

    10% {
        opacity: var(--target-opacity, 0.2);
    }

    90% {
        opacity: var(--target-opacity, 0.2);
    }

    100% {
        transform: translateY(-20vh) rotate(360deg) scale(1.2);
        opacity: 0;
    }
}

.animate-float-up {
    animation: floatUp linear infinite;
}